Tinderbutnot/.gradle/
Tinderbutnot/.idea/
Tinderbutnot/.settings/
Tinderbutnot/app/build/


Tinderbutnot/local.properties
Tinderbutnot/.project
Tinderbutnot/app/.classpath
Tinderbutnot/app/.settings/org.eclipse.buildship.core.prefs
